<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127143907466-m1mofnklksrro4fdkl1qolf5god42spm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127143907466-m1mofnklksrro4fdkl1qolf5god42spm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>127143907466-1tqdagtntopm054po02nt2pmlgfakfn3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAU3n9BB6rKIwn2nO0CcRsCReZtPHZvAX4</string>
	<key>GCM_SENDER_ID</key>
	<string>127143907466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.challenge.smartresource</string>
	<key>PROJECT_ID</key>
	<string>smartrelief-a9b54</string>
	<key>STORAGE_BUCKET</key>
	<string>smartrelief-a9b54.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127143907466:ios:e98a737bf1d2c9a5f11d73</string>
</dict>
</plist>